<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <div class="grid grid-rows-[max-content_auto_max-content] min-h-[100vh]">
        <header class="bg-base-300 border-b border-base-content">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="container mx-auto flex gap-8 py-6">
                    <a href="/">
                        Home
                    </a>
                    <a href="/products">
                        Products
                    </a>
                    <a href="/products/CreateProductExcel">
                        Excel
                    </a>
                    <a href="/products/files">
                        Files
                    </a>
                </div>
            }
        </header>

        <main class="py-6 container mx-auto">
            @RenderBody()
        </main>

        <footer class="bg-base-200 border-t border-base-content">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="container mx-auto flex gap-8 py-6">
                    footer
                </div>
            }
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.0.27/signalr.min.js" integrity="sha512-a+73ErrZPjhqOu0qbW1QLsenEF4pvDjmnd+Ws6hkDyJlrwAigOQAxQhIT+fPNFWScUvtJQvn+G535TT2C6/G4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script defer>
        var con = new signalR.HubConnectionBuilder().withUrl("/ExcelHub").build()

        start()

        function start () {
            con.start().then().catch(err => {
                console.log(err);
                setTimeout(()=> start(), 2000)
            })
        }

        con.on("CompletedFile", () => {
            console.log('excel olusturuldu')
        })

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>